mixin volunteers()
    +b.SECTION.volunteers
        +e.A(name="volunteers")
        +e.DIV.container
            +b.DIV.volunteers-header
                +title({"text": "Our volunteers"})
                +e.P.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
            +b.DIV.owl-carousel.owl-theme
                +b.volunteers-item
                    +e.IMG.img(src="img/kate-radison.jpg")
                    +e.P.title Kate Radison
                    +e.P.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt...
                    +e.A(href="#")
                        +e.P.more More...
                +b.volunteers-item
                    +e.IMG.img(src="img/emily-kvint.jpg")
                    +e.P.title Emily Kvint
                    +e.P.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt...
                    +e.A(href="#")
                        +e.P.more More...
                +b.volunteers-item
                    +e.IMG.img(src="img/ronald-grey.jpg")
                    +e.P.title Ronald Gray
                    +e.P.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt...
                    +e.A(href="#")
                        +e.P.more More...
                +b.volunteers-item
                    +e.IMG.img(src="img/irma-nikson.jpg")
                    +e.P.title Irma Nikson
                    +e.P.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt...
                    +e.A(href="#")
                        +e.P.more More...
                +b.volunteers-item
                    +e.IMG.img(src="img/stiv-drak.jpg")
                    +e.P.title Stive Drak
                    +e.P.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt...
                    +e.A(href="#")
                        +e.P.more More...
                +b.volunteers-item
                    +e.IMG.img(src="img/joan-boston.jpg")
                    +e.P.title Joan Boston
                    +e.P.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt...
                    +e.A(href="#")
                        +e.P.more More...
                +b.volunteers-item
                    +e.IMG.img(src="img/erik-tig.jpg")
                    +e.P.title Erik Tig
                    +e.P.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt...
                    +e.A(href="#")
                        +e.P.more More...