mixin intro()
    +b.SECTION.intro
        +e.DIV.container
            +e.DIV.info
                +b.DIV.intro-info
                    +title({"text": "HAVEN FOR HOMELESS ANIMALS PIFF"})
                    +e.P.text Our goal is simple - to help defenseless animals find a new home and family
                    +e.A.btn(href="#")
                        +b.BUTTON.btn Donate now
            +e.DIV.stat
                +b.DIV.intro-stat
                    +e.SPAN.num 5
                    |years
                    span works
                +b.DIV.intro-stat
                    +e.SPAN.num 560
                    |animals
                    span found home
                +b.DIV.intro-stat
                    +e.SPAN.num 1200
                    |happy
                    span owners