mixin animals()
    +b.SECTION.animals
        +e.A(name="animals")
        +b.DIV.animals-header
            +title({"text":"Our animals"})
            +e.P.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
        +e.DIV.foto
            +b.DIV.animals-item
                +e.IMG.img(src="img/bridgy.jpg")
                +b.DIV.animals-hover
                    +e.P.text Bridgy
            +b.DIV.animals-item
                +e.IMG.img(src="img/orig.jpg")
                +b.DIV.animals-hover
                    +e.P.text Orig
            +b.DIV.animals-item
                +e.IMG.img(src="img/alis.jpg")
                +b.DIV.animals-hover
                    +e.P.text Alis
            +b.DIV.animals-item
                +e.IMG.img(src="img/seny.jpg")
                +b.DIV.animals-hover
                    +e.P.text Seny
            +b.DIV.animals-item
                +e.IMG.img(src="img/ralf.jpg")
                +b.DIV.animals-hover
                    +e.P.text Ralf
            +b.DIV.animals-item
                +e.IMG.img(src="img/bonn.jpg")
                +b.DIV.animals-hover
                    +e.P.text Bonn
            +b.DIV.animals-item
                +e.IMG.img(src="img/djastin.jpg")
                +b.DIV.animals-hover
                    +e.P.text Djastin
            +b.DIV.animals-item
                +e.IMG.img(src="img/kavin.jpg")
                +b.DIV.animals-hover
                    +e.P.text Kavin
