mixin header-line()
    +b.DIV.head-line
        +e.DIV.container
            +b.DIV.head-line-item
                +e.I.icon(class="mdi mdi-map-marker")
                |г.Москва, ул. Савеловская, 7
            +b.DIV.head-line-item
                +e.I.icon(class="mdi mdi-map-marker")
                | г.Москва, ул. Савеловская, 7
            +b.DIV.head-line-item
                +e.I.icon(class="mdi mdi-map-marker")
                | г.Москва, ул. Савеловская, 7
