mixin header-line()
    +b.DIV.head-line
        +e.DIV.container
            +b.DIV.head-line-item
                +e.I.icon(class="mdi mdi-map-marker")
                |Kiev, Peremogi str, 7
            +b.DIV.head-line-item
                +e.I.icon(class="mdi mdi-phone")
                |+3 968 592 85 45
            +b.DIV.head-line-item
                +e.I.icon(class="mdi mdi-email-outline")
                |piff_animal@gmail.com
